body {
  padding: 0;
}

#title {
  background-color: rgb(177, 177, 235);
}

#color-palette {
  background-color: chartreuse;
  padding-top: 7px;
  padding-bottom: 5px;
}

.color {
  display: inline-block;
  border: black solid 1px;
  height: 40px;
  width: 40px;
  margin-top: -5px;
}

.cor1 {
  background-color: black;
  color: black;
}

.cor2 {
  background-color: rgb(255, 243, 55);
  color: rgb(255, 243, 55);
}

.cor3 {
  background-color: hotpink;
  color: hotpink;
}

.cor4 {
  background-color: cornflowerblue;
  color: cornflowerblue;
}

#pixel-board {
  background-color: coral;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
}

.pixel {
  display: inline-block;
  background-color: white;
  border: black solid 1px;
  height: 40px;
  width: 40px;
  margin-top: -5px;
}
